<%- include('./partials/head.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .tracking-container {
        max-width: 900px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
        top: 80px;
    }

    .shipment-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .shipment-status {
        font-size: 1.2em;
        color: #5a6c8f;
    }

    .tracking-number h2 {
        font-size: 1.4em;
        color: #333;
    }

    .print-button {
        background-color: #5a6c8f;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 1em;
        display: flex;
        align-items: center;
    }

    .print-button i {
        margin-right: 8px;
    }

    .details-box {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 20px;
    }

    .box-header {
        background-color: #5a6c8f;
        color: #fff;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .box-content p {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
    }

    .box-content p:last-child {
        border-bottom: none;
    }

    .box-content i {
        margin-right: 8px;
        color: #5a6c8f;
    }

    .package-history {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

    .history-header {
        background-color: #5a6c8f;
        color: #fff;
        padding: 10px;
    }

    .history-entry {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
    }

    .status-box {
        display: flex;
        align-items: center;
    }

    .status-box i {
        margin-right: 8px;
        color: #5a6c8f;
    }

    .history-entry:last-child {
        border-bottom: none;
    }

    .table-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .table {
        min-width: 800px;
        width: 100%;
    }

    .table thead th {
        border-bottom: 2px solid #dee2e6;
        color: #333;
        white-space: nowrap;
    }

    .table tbody td {
        white-space: nowrap;
    }

    .table tbody tr {
        background-color: white;
        border-radius: 8px;
    }

    .table-responsive {
        overflow-x: auto;
    }

    @media (max-width: 768px) {
        .shipment-info {
            flex-direction: column;
            align-items: flex-start;
        }

        .print-button {
            margin-top: 10px;
        }
    }

    /* Package Image Box */
    .package-image-box {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 10px;
        text-align: center;
    }

    .package-image-box img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
    }
</style>
<body>

<div class="site-wrap">
    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <%- include('partials/nav.ejs') %>
    <div class="container">
    <div class="tracking-container">

        <!-- Shipment Status and Tracking Number -->
        <div class="shipment-info">
            <div class="shipment-status">
                <i class="fas fa-box"></i> <span> Status: <%= latestStatus %> </span>
            </div>
            <div class="tracking-number">
                <h2>Shipment Tracking: <span> <%= packageDetails.trackingNumber %></span></h2>
            </div>
            <button class="print-button">
                <i class="fas fa-print"></i> Print Shipment
            </button>
        </div>

        <!-- Sender Details -->
        <div class="details-box">
            <h3 class="box-header">Sender Details</h3>
            <div class="box-content">
                <p><i class="fas fa-user"></i> Contact Name: <%= packageDetails.senderName%></p>
                <p><i class="fas fa-address-book"></i> Contact Address: <%=packageDetails.senderAddress%></p>
                <!-- <p><i class="fas fa-city"></i> City Collection: New York</p> -->
                <!-- <p><i class="fas fa-map-marker-alt"></i> Origin City: Brooklyn</p> -->
                <p><i class="fas fa-calendar-alt"></i> Date of Shipment: <%=packageDetails.formattedShipmentDate%></p>
            </div>
        </div>

        <!-- Recipient Details -->
        <div class="details-box">
            <h3 class="box-header">Recipient Details</h3>
            <div class="box-content">
                <p><i class="fas fa-user"></i> Contact Name: <%=packageDetails.recipientName%></p>
                <p><i class="fas fa-envelope"></i>Contact Email: <%=packageDetails.recipientEmail%></p>
                <p><i class="fas fa-address-book"></i> Contact Address: <%=packageDetails.recipientAddress%></p>
            </div>
        </div>

        <!-- Package Details -->
        <div class="details-box">
            <h3 class="box-header">Package Details</h3>
            <div class="box-content">
                <p><i class="fas fa-box-open"></i> Package Name:  <%=packageDetails.packageName%></p>
                <p><i class="fas fa-dollar-sign"></i> Package Value:  <%=packageDetails.packageValue%></p>
                <p><i class="fas fa-weight"></i> Package Weight:  <%=packageDetails.weight%>kg</p>
                <p><i class="fas fa-shipping-fast"></i> Service Type: <%=packageDetails.shippingMethod%></p>
<p><i class="fas fa-info-circle"></i> Description: <%=packageDetails.packageDescription%></p>
<p><i class="fas fa-shield-alt"></i> Insurance: Yes</p>
<p><i class="fas fa-credit-card"></i> Payment Method:Card</p>

                <p><i class="fas fa-calendar-day"></i> Shipment Date:<%=packageDetails.formattedShipmentDate%></p>
                <p><i class="fas fa-calendar-check"></i> Expected Delivery: <%=packageDetails.formattedExpectedDeliveryDate%></p>
            </div>
        </div>

        <!-- Package Image Box -->
        <div class="package-image-box">
            <h3>Package Image</h3>
            <img src="/uploads/<%= packageDetails.packageImage %>" alt="Package Image" class="package-image">

        </div>

        <!-- Package History -->
        <div class="package-history">
            <div class="table-container">
                <h5 class="mb-3">Shipment History</h5>
                <div class="table-responsive">
                    <table class="table table-hover table-responsive">
                        <thead class="table-light">
                            <tr>
                                <th>Date</th>
                                <th>Location</th>
                                <th>Remark</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% packageDetails.history.forEach(entry => { %>
                                <tr>
                                    <td>
                                        <% if (entry.currentDate) { %>
                                            <%= new Date(entry.currentDate).toLocaleDateString() %>
                                        <% } else { %>
                                            No Date Available
                                        <% } %>
                                    </td>
                                    <td><%= entry.location %></td>
                                    <td><%= entry.notes %></td>
                                    <td><%= entry.status %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
        integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
        data-cf-beacon='{"rayId":"8bf190913ccab8f1","version":"2024.8.0","serverTiming":{"name":{"cfExtPri":true,"cfL4":true}},"token":"cd0b4b3a733644fc843ef0b185f98241","b":1}'
        crossorigin="anonymous"></script>
</body>
